# 🕷️ Tenebri MD — Ignore Files & Folders

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Session
.env
config.env
auth_info_baileys/
temp/
logs/

# OS
.DS_Store
Thumbs.db

# Git
.gitignore
